.train
{
    animation: move-train 30s linear 1s normal 1 forwards;
    transform: translateX(500px);
}

@keyframes move-train
{
    form
    {
        transform: translateX(500px);
    }

    to
    {
        transform: translateX(-900px);
    }
}

.wheel
{
    animation: rotate-wheel 3s linear infinite;
}

@keyframes rotate-wheel
{
    to
    {
        transform: rotate(-360deg);
    }
}

.wheel-joint
{
    animation: wheel-joint 3s linear infinite;
}

@keyframes wheel-joint
{
    to
    {
        transform: rotate(360deg);
    }
}

.wheel-joint-2
{
    animation: wheel-joint-2 3s linear infinite;
}

@keyframes wheel-joint-2
{
    from
    {
        transform: rotate(-10deg);
    }

    to
    {
        transform: rotate(350deg);
    }
}

.smoke
{
    animation: first-smoke 4s linear 1s infinite;
    transform: scale(1.2);
}

@keyframes first-smoke
{
    to
    {
        transform: translate(20px, -60px) scale(1.9);
        opacity: 0;
    }
}

.smoke-2
{
    animation: second-smoke 4s linear 2s infinite;
    transform: scale(1.5);
}

@keyframes second-smoke
{
    to
    {
        transform: translate(20px, -70px) scale(2);
        opacity: 0;
    }
}

.smoke-3
{
    animation: third-smoke 4s linear 3s infinite;
    transform: scale(1.5);
}

@keyframes third-smoke
{
    to
    {
        transform: translate(10px, -55px) scale(2.5);
        opacity: 0;
    }
}

.smoke-4
{
    animation: fourth-smoke 4s linear 4s infinite;
    transform: scale(1.2);
}

@keyframes fourth-smoke
{
    to
    {
        transform: translate(10px, -40px) scale(2);
        opacity: 0;
    }
}
